NODE_SERVER_PORT=1234

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=postgres
# POSTGRES_DB=mydb

DATABASE_URL="XXXXXXX"
SPOTIFY_CLIENT_ID = "XXXXXXX"
SPOTIFY_CLIENT_SECRET = "XXXXXXX"
YOUTUBE_API_KEY = "XXXXXXX"
OLD_YOUTUBE_API_KEY = "XXXXXXX"
YOUTUBE_BASE_API_URL = "XXXXXXX"
